*{
    margin: 0;
    padding:0;
    font-family:' roboto',sans-serif;
}          
 body {
  font-size:30px ;
    background: white;
    font-size: 60px;
    width: 100vw;
    height: 100vh;
     
    display: flex;
flex-direction: column;
  }
.hader{
  background-color: rgb(26, 122, 212);
  height: 60px;
}
.main{
  background: brown;
  flex-grow: 1;
}
.footer{
  color: #687682;
  background: rgb(184, 181, 187);
  height: 60px;
  border-bottom: 1px solid #dddfe3;
  font-size: 18px;
  padding-left: 18px;

  display: flex;
  align-items: center;
}